.slick-custom-1 .slick-prev,
.slick-custom-2 .slick-prev {
    opacity: 0.8;
    left: inherit;
    width: 83px;
    height: 45px;
}

.slick-custom-1 .slick-prev{
    top: -55px;
    right: 120px;
}
.slick-custom-2 .slick-prev{
    bottom: -86px;
    left: -45%;
    top: inherit;
    right: inherit;
}

.slick-custom-1 .slick-prev,
.slick-custom-1 .slick-prev:hover,
.slick-custom-1 .slick-prev:active,
.slick-custom-1 .slick-prev:focus,
.slick-custom-2 .slick-prev,
.slick-custom-2 .slick-prev:hover,
.slick-custom-2 .slick-prev:active,
.slick-custom-2 .slick-prev:focus {
    background-image: url("/commons/arrow-left.svg");
    background-size: 100%;
     background-repeat: no-repeat;
}

.slick-custom-1 .slick-prev.slick-disabled,
.slick-custom-1 .slick-prev.slick-disabled:hover,
.slick-custom-1 .slick-prev.slick-disabled:active,
.slick-custom-1 .slick-prev.slick-disabled:focus,
.slick-custom-2 .slick-prev.slick-disabled,
.slick-custom-2 .slick-prev.slick-disabled:hover,
.slick-custom-2 .slick-prev.slick-disabled:active,
.slick-custom-2 .slick-prev.slick-disabled:focus{
    opacity: 0;
    background-image: none;
}

.slick-custom-1 .slick-prev:hover,
.slick-custom-1 .slick-prev:active,
.slick-custom-2 .slick-prev:hover,
.slick-custom-2 .slick-prev:active {
    opacity: 1;
}

.slick-custom-1 .slick-track{ 
    margin-left: 0; 
}

.slick-custom-1 .slick-next,
.slick-custom-2 .slick-next {
    opacity: 0.8;
    left: inherit;
    width: 83px;
    height: 45px;
}

.slick-custom-1 .slick-next{
    top: -55px;
    right: 0;
}
.slick-custom-2 .slick-next{
    bottom: -86px;
    left: -30%;
    top: inherit;
    right: inherit;
}

.slick-custom-1 .slick-next,
.slick-custom-1 .slick-next:hover,
.slick-custom-1 .slick-next:active,
.slick-custom-1 .slick-next:focus,
.slick-custom-2 .slick-next,
.slick-custom-2 .slick-next:hover,
.slick-custom-2 .slick-next:active,
.slick-custom-2 .slick-next:focus {
    background-image: url("/commons/arrow-right.svg");
    background-size: 100%;
    background-repeat: no-repeat;
}

.slick-custom-1 .slick-next:hover,
.slick-custom-1 .slick-next:active,
.slick-custom-2 .slick-next:hover,
.slick-custom-2 .slick-next:active {
    opacity: 1;
}

.slick-custom-1 .slick-next.slick-disabled,
.slick-custom-1 .slick-next.slick-disabled:hover,
.slick-custom-1 .slick-next.slick-disabled:active,
.slick-custom-1 .slick-next.slick-disabled:focus,
.slick-custom-2 .slick-next.slick-disabled,
.slick-custom-2 .slick-next.slick-disabled:hover,
.slick-custom-2 .slick-next.slick-disabled:active,
.slick-custom-2 .slick-next.slick-disabled:focus {
    opacity: 0;
    background-image: none;
}


.slick-custom-1 .slick-prev::before,
.slick-custom-1 .slick-next::before,
.slick-custom-2 .slick-prev::before,
.slick-custom-2 .slick-next::before {
    display: none;
}

.slick-custom-1 .slick-dots{
    bottom: -50px;
}

.slick-custom-1 .slick-dots li,
.slick-custom-1 .slick-dots li button{
    width: 44px;
    height: 4px;
}

.slick-custom-1 .slick-dots li.slick-active button::before {
    opacity: 1;
    background-color: #3AFFDC;
}

.slick-custom-1 .slick-dots li button::before{
    content: '';
    background-color: #fff;
    opacity: 0.7;
    width: 44px;
    height: 4px;
}

/* hiding all bullets by default */
.slick-dots li {
    display: none
}
/* only displaying the active bullets and the 2 bullets next to it */
.slick-dots li.slick-active,
.slick-dots li.slick-active + li,
.slick-dots li.slick-active + li + li {
    display: block;
}
/* displaying the last three bullets when slick-active class isn't applied to any li before them  */
.slick-dots li:nth-last-child(1),
.slick-dots li:nth-last-child(2),
.slick-dots li:nth-last-child(3) {
    display: block;
}
/* hiding the last three bullets if slick-active exist before them */
.slick-dots li.slick-active ~ li:nth-last-child(1),
.slick-dots li.slick-active ~ li:nth-last-child(2),
.slick-dots li.slick-active ~ li:nth-last-child(3) {
    display: none;
}
/* specific conditions to always display the last three bullets */
.slick-dots li.slick-active + li + li:nth-last-child(3),
.slick-dots li.slick-active + li + li:nth-last-child(2),
.slick-dots li.slick-active + li + li:nth-last-child(1),
.slick-dots li.slick-active + li:nth-last-child(3),
.slick-dots li.slick-active + li:nth-last-child(2),
.slick-dots li.slick-active + li:nth-last-child(1){
    display: block;
}

.slick-dots{ 
    width: 180px;
    display: flex !important;
    margin: auto;
    justify-content: center;
    left: 0;
    right: 0;
}

@media screen and (max-width: 992px) {
    .slick-custom-2 .slick-next{
        left: -25%;
    }
    
}

@media screen and (max-width: 768px){
    .slick-custom-1 {
        margin-left: -15px;
        margin-right: -15px;
    }
    .slick-custom-1 .slick-prev, 
    .slick-custom-2 .slick-prev,
    .slick-custom-1 .slick-next, 
    .slick-custom-2 .slick-next {
        width: 60px;
        height: 34px;
    }
    .slick-custom-1 .slick-prev,
    .slick-custom-2 .slick-prev {
        right: 70px;
    }
    .slick-custom-2 .slick-next{
        bottom: -66px;
        left: 90px;
        top: inherit;
        right: inherit;
        z-index: 40;
    }
    .slick-custom-2 .slick-prev{
        bottom: -66px;
        left: 20px;
        top: inherit;
        right: inherit;
        z-index: 40;
    }
}